# 01. Importing Libraries

In [13]:
#Import libraries
import pandas as pd
import numpy as np
import os

# 02. Importing data

In [14]:
#Define path
path = r'C:\\Users\\carlo\\21-06-2022 Instacart Basket Analysis'

In [15]:
#Import data
df_ords = pd.read_csv(os.path.join(path, '2. Data', 'Prepared Data', 'orders_wrangled.csv'), index_col = False)
df_ords_prior = pd.read_csv(os.path.join(path, '2. Data', 'Original Data', 'order_products__prior.csv'), index_col = False)

In [16]:
#Check the output
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [17]:
df_ords_prior.shape

(32434489, 4)

# 03 Check Consistency

In [18]:
#Check for missing values
df_ords_prior.isnull().sum()

order_id             0
product_id           0
add_to_cart_order    0
reordered            0
dtype: int64

In [19]:
#Creating subset for duplicates
df_dups = df_ords_prior[df_ords_prior.duplicated()]

In [20]:
df_dups

Empty DataFrame
Columns: [order_id, product_id, add_to_cart_order, reordered]
Index: []

In [21]:
df_ords.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order
0,0,2539329,1,1,2,8,NaN
1,1,2398795,1,2,3,7,15.0
2,2,473747,1,3,3,12,21.0
3,3,2254736,1,4,4,7,29.0
4,4,431534,1,5,4,15,28.0

# 04 Defining the first merging

In [22]:
df_ords.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 7 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Unnamed: 0             int64
 1   order_id               int64
 2   user_id                int64
 3   order_number           int64
 4   orders_day_of_week     int64
 5   order_hour_of_day      int64
 6   days_since_last_order  float64
dtypes: float64(1), int64(6)
memory usage: 182.7 MB

In [23]:
# Change types for ords data set

df_ords['order_id']=df_ords['order_id'].astype('int32')
df_ords['user_id'] = df_ords['user_id'].astype('int32')
df_ords['order_number']=df_ords['order_number'].astype('int8')
df_ords['orders_day_of_week']=df_ords['orders_day_of_week'].astype('int8')
df_ords['order_hour_of_day']=df_ords['order_hour_of_day'].astype('int8')
df_ords['days_since_last_order']=df_ords['days_since_last_order'].astype('float16')

In [24]:
df_ords.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 7 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Unnamed: 0             int64
 1   order_id               int32
 2   user_id                int32
 3   order_number           int8
 4   orders_day_of_week     int8
 5   order_hour_of_day      int8
 6   days_since_last_order  float16
dtypes: float16(1), int32(2), int64(1), int8(3)
memory usage: 68.5 MB

In [25]:
df_ords_prior.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           int64
 1   product_id         int64
 2   add_to_cart_order  int64
 3   reordered          int64
dtypes: int64(4)
memory usage: 989.8 MB

In [26]:
# Change types for ords prods data set 

df_ords_prior['product_id'] =df_ords_prior['product_id'].astype('int32')
df_ords_prior['reordered']=df_ords_prior['reordered'].astype('int8')
df_ords_prior['add_to_cart_order']=df_ords_prior['add_to_cart_order'].astype('int32')
df_ords_prior['order_id']=df_ords_prior['order_id'].astype('int32')

In [27]:
df_ords_prior.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           int32
 1   product_id         int32
 2   add_to_cart_order  int32
 3   reordered          int8
dtypes: int32(3), int8(1)
memory usage: 402.1 MB

In [28]:
#Merging
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', how = 'outer', indicator = True)

In [29]:
#Checking match
df_merged_large['_merge'].value_counts()

both          32434489
left_only       206209
right_only           0
Name: _merge, dtype: int64

In [30]:
# Export data to pkl
df_merged_large.to_pickle(os.path.join(path, '2. Data','Prepared Data', 'orders_products_combined.pkl'))

In [32]:
df = pd.read_pickle(os.path.join(path, '2. Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [33]:
df.describe()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered
count,3.264070e+07,3.264070e+07,3.264070e+07,3.264070e+07,3.264070e+07,3.264070e+07,30562630.0,3.243449e+07,3.243449e+07,3.243449e+07
mean,1.709876e+06,1.710719e+06,1.029383e+05,1.713856e+01,2.739040e+00,1.342599e+01,NaN,2.557634e+04,8.351076e+00,5.896975e-01
std,9.864701e+05,9.873085e+05,5.946686e+04,1.752967e+01,2.090265e+00,4.246227e+00,0.0,1.409669e+04,7.126671e+00,4.918886e-01
min,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.0,1.000000e+00,1.000000e+00,0.000000e+00
25%,8.556322e+05,8.558860e+05,5.142200e+04,5.000000e+00,1.000000e+00,1.000000e+01,5.0,1.353000e+04,3.000000e+00,0.000000e+00
50%,1.709181e+06,1.710984e+06,1.026160e+05,1.100000e+01,3.000000e+00,1.300000e+01,8.0,2.525600e+04,6.000000e+00,1.000000e+00
75%,2.565971e+06,2.565490e+06,1.543940e+05,2.400000e+01,5.000000e+00,1.600000e+01,15.0,3.793500e+04,1.100000e+01,1.000000e+00
max,3.421082e+06,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,30.0,4.968800e+04,1.450000e+02,1.000000e+00